[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = http://github.com/vim-scripts/pathogen.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/gmarik/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/vim-scripts/surround.vim.git
[submodule "bundle/cescope"]
	path = bundle/cescope
	url = http://github.com/vim-scripts/cecscope.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = http://github.com/vim-scripts/genutils.git
[submodule "bundle/Rainbow-Prenthsis-Bundle"]
	path = bundle/Rainbow-Prenthsis-Bundle
	url = http://github.com/vim-scripts/Rainbow-Parenthsis-Bundle.git
[submodule "bundle/pydoc.vim"]
	path = bundle/pydoc.vim
	url = http://github.com/vim-scripts/pydoc.vim.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = http://github.com/vim-scripts/Command-T.git
[submodule "bundle/0scan"]
	path = bundle/0scan
	url = http://github.com/vim-scripts/0scan.git
[submodule "bundle/pythonhelper"]
	path = bundle/pythonhelper
	url = http://github.com/vim-scripts/pythonhelper.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/vim-git.git"]
	path = bundle/vim-git.git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-fugitive.git"]
	path = bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ingretu"]
	path = bundle/ingretu
	url = git://github.com/gmarik/ingretu.git
[submodule "bundle/python_ifold"]
	path = bundle/python_ifold
	url = https://marcusm@github.com/marcusm/python_ifold.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
