[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = http://github.com/vim-scripts/pathogen.vim.git
[submodule "bundle/pythonhelper"]
	path = bundle/pythonhelper
	url = http://github.com/vim-scripts/pythonhelper.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-git.git"]
	path = bundle/vim-git.git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/ingretu"]
	path = bundle/ingretu
	url = git://github.com/gmarik/ingretu.git
[submodule "bundle/python_ifold"]
	path = bundle/python_ifold
	url = https://marcusm@github.com/marcusm/python_ifold.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "bundle/foreplay"]
	path = bundle/foreplay
	url = git://github.com/tpope/vim-foreplay.git
[submodule "bundle/classpath"]
	path = bundle/classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/css3-syntax"]
	path = bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
